a {
    text-decoration: none;
}

.l-block {
    display: flex;
    border: 1px solid #0f172a;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 50px;
}

.l-block:hover {
    box-shadow: 0 0 20px rgba(52, 152, 219, 1);
}


.l-pic {
    width: 225px;
    height: 150px;
    border-radius: 5px;
}

.l-description {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.desc-title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.desc-text {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #a3a1a1;
}

.desk-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 15px;
}

.tag {
    font-size: 12px;
    font-weight: 500;
    color: #58dcc8;
    background-color: #000000;
    border-radius: 10px;
    padding: 5px 10px;
}

@media (max-width: 1024px) {
    .l-block {
        margin-bottom: 40px;
    }
    
    .l-pic {
        width: 150px;
        height: 100px;
    }
    
    .desc-title {
        font-size: 16px;
    }
    
    .desc-text {
        font-size: 12px;
    }
    
    .desk-tags {
        gap: 12px;
    }
    
    .tag {
        font-size: 10px;
    }
    
}

@media (max-width: 800px) {
    .l-block {
        padding: 5px 8px;
        margin-bottom: 15px;
    }

    .l-pic {
        width: 100px;
        height: 75px;
    }
    
    .l-description {
        padding-left: 5px;
    }
    
    .desc-title {
        font-size: 12px;
    }
    
    .desc-text {
        padding-top: 3px;
        font-size: 10px;
    }
    
    .desk-tags {
        gap: 8px;
        padding-top: 8px;
    }
    
    .tag {
        font-size: 8px;
        padding: 2px 5px;
    }
    
}