html,
body {
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #243e7e, #0f172a);
  font-family: "Montserrat", sans-serif;
  min-width: 400px;
}

.root {
  max-width: 1440px; 
  width: 100%;        
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;     
}


.rigth {
  display: flex;
  position: sticky;
  top: 80px;
  width: 50%;
  max-height: 80vh;
  justify-content: space-between;
  flex-direction: column;
}

.r-title {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.r-name {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.r-prof {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding-top: 15px;
}

.r-nav {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  gap: 10px;
}

.nav-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.nav-line {
  width: 30px;
  height: 2px;
  background-color: #a3a1a1;
}

.nav-line-active {
  width: 60px;
  height: 2px;
  background-color: #fff;
}

.nav-title {
  font-size: 22px;
  font-weight: 500;
  color: #a3a1a1;
  cursor: pointer;
}

.nav-title-active {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.r-links {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  gap: 20px;
  padding-left: 100px;
}

.link {
  width: 20px;
  cursor: pointer;
}

.left {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  width: 50%;
  justify-content: flex-start;
  padding-right: 100px;
}

.l-about {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 15px;
}

.l-resume {
  font-size: 18px;
  font-weight: 500;
  color: #a3a1a1;
  padding-top: 5px;
  cursor: pointer;
}

.l-resume:hover {
  color: #fff;
}

.l-projects {
  padding: 100px 0 80px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.copied-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #78b0e5;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1000;
  opacity: 0.9;
}

@media (max-width: 1024px) {
  .l-about {
    font-size: 16px;
  }
  
  .l-resume {
    font-size: 15px;
  }
  .r-name{
    font-size: 28px;
  }
  .r-title {
    padding-left: 80px;
  }
  .r-nav {
    padding-left: 120px;
  }
  .r-links {
    padding-left: 80px;
  }
  .left {
    padding-right: 80px;
  }
}

@media (max-width: 800px){
  .root {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;     
  }
  
  
  .rigth {
    position: relative;
    top: 0;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 40px;
  }
  
  .r-title {
    padding-left: 0;
    align-items: center;
  }
  
  .r-name {
    font-size: 22px;
  }
  
  .r-prof {
    font-size: 16px;
    padding-top: 10px;
  }
  
  .r-nav {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    gap: 10px;
  }
  
  .nav-block {
    display: none;
  }
  
  .r-links {
    padding: 30px 0 10px;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    gap: 20px;
  }
  
  .link {
    width: 20px;
    cursor: pointer;
  }
  
  .left {
    padding: 0 40px;
    width: 100%;
    justify-content: center;
  }
  
  .l-about {
    font-size: 15px;
    padding-bottom: 10px;
  }
  
  .l-resume {
    font-size: 14px;
    padding-top: 5px;
  }
  
  .l-projects {
    padding: 50px 0 30px 0;
    gap: 25px;
  }
  
  .copied-message {
    font-size: 12px;
  }
}